.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 43em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    width: 10em;
/*  background: #CCC;*/
    padding: left;
    margin-left:-44px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    width: 100%;
    margin: 0.2em 0;
    border: 2px solid gray;
    border-width: 2px 2px 2px 2px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.7em 1em;
    text-decoration:none !important;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    padding-left: 0;
    border-right: 2px solid gray;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    /*border-left: 1px solid gray;*/
    border-radius: 0;
    position: relative;
    left: -1px;
}
